html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title organizer
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/fileorganizer.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    //- script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/d3-selection/1.1.0/d3-selection.min.js')
  body
    .top
      a(href='dashboard') Dashboard 
      a(href='editor') Editor 
      a(href='createslice') Create Slice 
      a(href='scheduler') Scheduler 

    .flex-container
      .section.topologies
        .title topologies
        .subtitle To download a topology, right click the link of the file you wish to download and click "Save link as..."
        .list
          if (topologies)
            each val in topologies
              div
                button.btn.btn-default.btn-sm.custom-button(type='button' title='delete' onclick='topoVerifyDelete("'+val.toponame+'","'+val.location+'")')
                  span.glyphicon.glyphicon-trash
                button.btn.btn-default.btn-sm.custom-button(type='button' title='go to editor' onclick='location.href="editor/'+val.location+'"')
                  span.glyphicon.glyphicon-chevron-right
                a(href='api/topo/'+val.location)= val.toponame
                //- span.glyphicon.glyphicon-pencil
                  title rename
        form.after(method='post', enctype='multipart/form-data')
          | Topology upload: 
          input#fileToUpload(type='file', name='fileToUpload')
          |  
          input(type='submit', value='Upload Topology', name='submit')
      .section.activeslices
        .title active slices
        if !haspem
          a.subtitle(href='uploadkeys') you have no yet uploaded your ssl certificate    
        .list#slicelist

      .section.reservations
        .title reservations
        .list#resourcelist
          if (reservations)
            each val in reservations
              div
                a(href='api/topo/'+val.Id)= val.Id
                span= val.start       

script.
  function topoVerifyDelete(fileName, fileloc) {
    if (confirm("You are about to delete " + fileName + ". Are you sure?")) {
      // success is called if ( status >= 200 && status < 300 || status === 304 )
      //- $.ajax({url:"organizer/"+fileloc, type:"DELETE", success: function(result) {
      //-   location.reload();
      //- }})
      var http = new XMLHttpRequest();
      var url = "api/topo/" + fileloc
      http.open("DELETE", url, true);

      http.onreadystatechange = function() {//Call a function when the state changes.
        if(http.readyState == 4 && http.status == 200) {
          location.reload();
        }
      }
      http.send();
    }
  }

  function sliceVerifyDelete(slicename) {
    if (confirm("You are about to delete " + slicename + ". Are you sure?")) {
      var formdata = new FormData();
      formdata.append('sslcert', $('#sslcert')[0].files[0] )
      $.ajax({

        url: 'api/ahab/'+slicename,
        type: 'DELETE',
        data: formdata,
        processData: false,
        contentType: false,
        success: function() {
          $('#ssl').submit()
          alert('success delete');
        },
        error: function() {
          alert('error delete');
        }
      })
    }
  }

  function listslices(list) {
    $('#slicelist').empty();
    var ele = d3.select('#slicelist').selectAll('div').data(list)
      .enter().append('div');
    ele.append('button')
      .attr('class', 'btn btn-default btn-sm custom-button')
      .attr('type', 'button')
      .attr('title', 'delete')
      .attr('onclick', function(d) { return 'sliceVerifyDelete("'+d+'")' })
      .append('span')
        .attr('class','glyphicon glyphicon-trash');
    ele.append('a')
      .attr('href', function(d) { return 'slicestatus/'+d; })
      .text(function(d) { return d; });
    /* for(let slicename of list) {

      console.log(slicename);
      $("<a href='api/topo/'>"+slicename+"</a>").appendTo("div").appendTo('#slicelist')
    } */
  }

if haspem
  script.
    console.log(typeof #{haspem})
    $('<p>loading...</p>').appendTo('#slicelist');
    $.ajax({
      url: 'api/listactiveslices',
      type: 'GET',
      success: function(data) {
        listslices(data);
      }, 
      error: function() {
        alert('error listactiveslices')
      }
    })